.add-user-container{
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-user-container form{
    width:300px;
    background-color: #FFFFFF;
    color:black;
    border-radius:5px;
    padding:20px;
}
.form-title{
    display:flex;
}
.form-title h2{
    margin-left:10px;
}
.userImg-section{
    width:100%;
    margin-top:20px;
}
.userImg-section img{
    width:100px;
    height:100px;
    margin-left:100px;
    border-radius:50%;
}
.progress{
    font-weight:600;
    margin-top:10px;
}
.Imgupload-track button{
    margin-top:5px;
    background:red;
    color:white;
    padding:8px;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.new-user-inputs{
    width:100%;
    margin-top:10px;
}
.new-user-inputs > div{
    margin-top:10px;
}
.new-userName input,.new-role select,.new-email input,.new-password input{
    padding:10px;
    width:95%;
    margin-top:4px;
    outline:none;
    font-weight:600;
}
.new-role select{
    width:103%;
}
.new-user-buttons{
    margin-top:20px;
    width:100%;
}
.disabled{
    opacity:0.7;
    cursor: none;
}
.new-user-saveBtn{
    background-color: #2666CF;
    color:white;
    padding:8px;
    width:100%;
    border:none;
    cursor:pointer;
}