.product{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding:10px 0px;
    border-bottom:1px solid black;
}
.product:hover{
    background-color: #cccccc;
}
.product-name{
    overflow:hidden;
}
.product div:first-child{
    margin-left:20px;
}
.product > div p{
    font-weight:500;
}
.low-stock-span{
    margin-left:5px;
    padding:5px;
    background-color: red;
    color:white;
    border-radius:8px;
    font-size:13px;
}