.cart-loader-wrapper{
    position:absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    z-index:999;
  }
  .cart-loader-wrapper div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top:45%;
    left:35%;
    transform:translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .cart-loader-wrapper div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .cart-loader-wrapper div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .cart-loader-wrapper div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  @media screen and (max-width:767px){
    .loader-wrapper div{
      position: absolute;
      top:50%;
      left:45%;
      transform:translate(-50%,-50%);
    }
  }
  
  