.notAssigned-container{
   padding:30px;
}
.notAssigned-btn{
    padding:8px 30px;
    margin-top:10px;
    background-color: #2666CF;
    color:white;
    cursor:pointer;
    border:none;
    font-size:18px;
}
.messageSent-btn{
    padding:8px 30px;
    margin-top:10px;
    background-color:green;
    color:white;
    border:none;
    font-size:15px;
}