.login-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login-form-container{
    box-shadow:rgba(0,0,0,0.16) 5px 5px 5px 5px;
    width:300px;
    padding:20px;
}
.login-form-container h4{
    text-align:center;
}
.login-form-container .login-logo-box{
    text-align: center;
}
.login-form-container .login-logo-box img{
   width:50px;
   height:50px;
}
.login-input-section .login-email-section,.login-input-section .login-password-section{
    width:100%;
}
.login-input-section .login-email-section input,.login-input-section .login-password-section input{
  padding:9px;
  border:1px solid grey;
  outline:none;
  appearance: none;
  width:90%;
  margin-top:6px;
  font-weight:600;
}
.login-password-section{
    margin-top:15px;
}
.login-form-container button{
    width:97%;
    padding:10px;
    background-color:#2666CF; 
    border:none;
    color:#FFFFFF;   
    cursor:pointer;
    margin-top:10px;
    text-align:center;
}
.login-form-container p{
    margin-top:20px;
    font-weight:600;
}
