.navbar-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:10px 0px;
    border-bottom:1px solid grey;
}
.navbar-container .first-section{
    display:flex;
    margin-left:20px;
}
.navbar-container .first-section img{
    width:60px;
    height:60px;
}
.navbar-container .first-section h3{
    margin-left:15px;
    margin-top:20px;
}
.messages-icon-box{
    margin-right:20px;
    padding:5px;
    margin-top:20px;
    cursor:pointer;
}
.messages-icon-box span{
    padding:5px 8px;
    background-color:red;
    color:white;
    border-radius:50%;
    font-weight:600;
}
.second-section{
    display:flex;
}
.user-section{
    height:100%;
}
.userImgProfile img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top:10px;
    cursor: pointer;
}
.userName-box{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#2666CF;
    color:#FFFFFF;
    margin-right:20px;
    margin-top:10px;
    display:flex;
    cursor:pointer;
}
.userName-box h3{
    margin:auto;
    text-align:center;
    font-size:25px;
}
.user-section:hover .user-popup{
    visibility: visible;
    opacity: 1;
    top:8%;
}
.user-popup{
    visibility: hidden;
    opacity:0;
    width:150px;
    height:120px;
    background: #FFFFFF;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.16) 5px 5px 5px 5px;
    position:absolute;
    top:-30px;
    right:70px;
    transition: top 300ms,opacity 500ms;
}
.user-popup ul li{
    display:flex;
    list-style-type: none;
    padding:5px;
    padding-left:10px;
    margin-top:5px;
    cursor: pointer;
}
.user-popup ul li:hover{
    opacity:0.5;
}
.user-popup ul li p{
    font-weight:600;
    margin-left:6px;
    margin-top:5px;
}
.no-user-buttons{
    margin-right:30px;
    margin-top:20px;
}
.no-user-buttons .no-user-login{
    font-size:18px;
    background:transparent;
    margin-right:10px;
    border:none;
    cursor: pointer;
}
.no-user-buttons .no-user-login:hover{
    color: #2666CF;
}
.no-user-buttons .no-user-register{
    padding:10px 30px;
    border-radius:5px;
    text-align:center;
    font-size:17px;
    background-color: #2666CF;
    border:none;
    color:white;
    cursor: pointer;
}
.no-user-buttons .no-user-register:hover{
    transform:translateY(-6px);
    transition:transform 300ms;
}