.products-table{
    margin-top:30px;
    width:97%;
    height:75vh;
    background-color: #FFFFFF;
    box-shadow:rgba(0,0,0,0.14) 3px 3px 3px 3px;
    overflow:auto;
}
.search-and-add-section{
    display:flex;
    justify-content: space-between;
    padding:10px 20px;
}
.add-product,.products-search-section{
    position: relative;
}
.products-search-section .search-span{
    position: absolute;
    padding-left: 8px;
    top:5px;
}
.products-search-section input{
    padding:10px 30px;
    padding-left: 40px;
    font-weight:600;
}
.products-search-section select{
    padding:10px 28px;
    padding-left: 10px;
    font-weight:600;
    margin-left:10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
    border:2px solid black;
    position:relative;
}
.products-search-section .select-span{
    position: absolute;
    top:8px;
    left:80%;
}
.units-section{
   display:flex;
}
.allUnits-btn{
    padding:10px 30px;
    background-color: #d1d1d1;
    color:black;
    border:none;
    cursor: pointer;
    text-align:center;
    font-weight:500;
}
.newUnit-btn{
    padding:10px 30px;
    background-color: #2666CF;
    color:white;
    border:none;
    cursor: pointer;
    text-align:center;
    margin-left:8px;
}
.add-product button{
    padding:10px 30px;
    background-color: orangered;
    color:white;
    border:none;
    cursor: pointer;
    text-align:center;
    margin-left:7px;
}
.add-product span{
    position:absolute;
    left:5px;
    top:5px;
    padding-right:6px;
}
.products-header{
    width:100%;
    margin-top:20px;
}
.products-header ul{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    padding:10px;
    border-top:2px solid black;
    border-bottom:2px solid black;
}
.products-header ul li{
    list-style: none;
    font-weight:600;
}
.products-header ul li:first-child{
    margin-left:20px;
}