.register-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.register-form-container{
    box-shadow:rgba(0,0,0,0.16) 5px 5px 5px 5px;
    width:300px;
    padding:20px;
}
.register-form-container h4{
    text-align:center;
}
.register-form-container .register-logo-box{
    text-align: center;
}
.register-form-container .register-logo-box img{
   width:50px;
   height:50px;
}
.register-input-section{
    margin-top:10px;
}
.register-userName-section,.register-role-section,.register-email-section,.register-password-section{
    width:100%;
}
.register-userName-section input,.register-role-section select,.register-email-section input,.register-password-section input{
  padding:9px;
  border:1px solid grey;
  outline:none;
  width:90%;
  margin-top:6px;
  font-weight:600;
}
.register-role-section select{
  width:97%;
}
.register-email-section,.register-role-section{
    margin-top:8px;
}
.register-password-section{
    margin-top: 8px;
    position: relative;
}
.register-password-section span{
    position: absolute;
    left: 85%;
    top: 50%;
}
.register-form-container button{
    width:97%;
    padding:10px;
    background-color:#2666CF; 
    border:none;
    color:#FFFFFF;   
    cursor:pointer;
    margin-top:10px;
    text-align:center;
}
.error-msg{
    text-align:center;
    color:red;
    font-weight:600;
    margin-top:6px;
    font-size:15px;
}
.register-form-container p{
    margin-top:20px;
    font-weight:600;
}
