.users-header-section{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
}
.users-header-section button{
   margin-right:30px;
   border:2px solid green;
   color:green;
   cursor: pointer;
   background: transparent;
   padding:10px 20px;
   border-radius:6px;
}
.users-table-header{
    width:93%;
    border:1px solid grey;
    padding:15px 0px;
    padding-left:10px;
    padding-right:10px;
    margin-top:20px;
    min-height:30vh;
    position: relative;
}
.users-table-header ul{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    border-bottom: 1px solid grey;
    font-weight:600;
}
.users-table-header ul li {
    list-style: none;
    text-align:center;
}
.loading-users{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.user{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    margin-top:10px;
    padding-bottom:8px;
    border-bottom:1px solid grey;
}
.user > div{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-image-box{
    width:60px;
    height:60px;
    border-radius:50%;
    display:flex;
    margin:auto;
}
.user-image-box img{
    width:100%;
    height: 100%;
    background-position:center;
    border-radius:50%;
}
.user > div p{
    font-weight:500;
}