.user-profile-container{
    position: absolute;
    top:0;
    left:0;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    width:100%;
    height:100vh;
    z-index:999;
    display:flex;
    justify-content: center;
    align-items: center;
}
.user-header-section{
    display:flex;
}
.user-header-section h3{
    margin-left:7px;
    font-size:23px;
}
.user-profile-form{
    background-color:#FFFFFF;
    width:350px;
    padding:20px;
}
.user-first-section{
    margin-top:10px;
}
.user-first-section img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-left:33%;
}
.user-second-section > div{
    margin-top:10px;
}
.user-second-section > div input{
    width:95%;
    padding:10px;
    margin-top:6px;
    font-weight:600;
}
.user-profile-form button{
   padding:8px;
   border:none;
   border-radius:5px;
   background:#2666CF;
   color:white;
   cursor:pointer;
   margin-top:15px;
   width:102%;
}