.category-products-container{
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    width:100%;
    min-height:100vh;
}
.category-products{
    background:white;
    width:90%;
    border:2px solid white;
    padding:10px;
    height:80vh;
    overflow:auto;
    margin-top:60px;
    margin-left:50px;
}
.category-products ul{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(7,1fr);
    border-bottom:2px solid black;
}
.category-product{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    font-weight:600;
    margin-top:10px;
    border-bottom:2px solid grey;
}
.category-products ul li{
    list-style: none;
    font-weight:600;
}
.category-product .ImageBox img{
  width:40px;
  height:40px;
} 