.product-display-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    animation: show 0.7s forwards;
}
.product-displayBox{
    width:400px;
    padding:15px;
    color:white;
}
@keyframes show {
    0%{
       transform:translateY(20px),scale(0.3);
       opacity:0;
    }
    100%{
        opacity:1;
        transform:translateY(0px),scale(0.3)
    }
}
.product-displayImg img{
    width:100%;
    height:270px;
}
.product-displayDetails p{
    font-weight:600;
    margin-top:8px;
}