.warehouse-buttons{
    margin-top: 10px;
}
.add-warehouse-btn{
    background: #333;
    color:white;
    border:none;
    padding:10px 20px;
    cursor: pointer;
}
.warehouse-container{
    width: 95%;
    border:1px solid grey;
    margin-top:10px;
    padding:10px;
}
.warehouse-container ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.warehouse-container ul li{
    list-style: none;
    font-weight:600;
}
.no-warehouses-box{
    margin-top:20px;
}
.warehouse{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top:10px;
    font-weight:500;
}
.warehouse > div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}