@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  font-family: "Montserrat", sans-serif;
  margin:0px;
  padding:0px;
}
.main-container {
  display: flex;
}
.content{
  width: 100%;
  min-height:100vh;
  margin-left:100px;
}
.add-width{
  margin-left:220px;
}